body {
    background-color: #f8f3d6
}

a[href^="mailto:"]::after{
    content: "";
    background-image: url("gmail.png");
    background-size: contain;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
}


.best{
    list-style-type: none;
    display: inline;
    width: 180px;
    margin: 0 10px;
}
.best a{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    width: auto;
    background: #e9ecf3;
    border-radius: 30px;
    color: #9caa4e;
    text-decoration: none;
    font-weight: bold;
}
.best a:hover{
    background: #ddb390;
}
h1 {
    width: 350px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #fcbeaece;
    background-color: rgb(236, 216, 189);
    color:#f3c5c9;
    font-size: 200%;
    text-align: center;
    border-radius: 50%;
    text-shadow: 1px 1px 2px #da360d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

#good {
    font-size: 25px;
    color: #9bb5f1
}

a {
    color: rgb(137, 125, 247);
}

a:hover {
    color: rgba(166, 213, 240, 0.856);
    text-decoration: none;
}

.school {
    border: 1px  #f00;
    display: inline-block;
    width: 180px;
}


.curriclum {
    width: 100%;
    height: 200% auto;
    padding: 10px;
    margin: auto;
    border-collapse: collapse;
    

}

.curriclum th {
    border: 1px solid #f3c5c9;
}
th,tr{
    padding: 8px;
    text-align: center;
}

.menu li {
    list-style: none;
    display: inline-block;
    width: 180px;
    margin: 0 10px;
}

.menu a {
    display: block;
    padding: 10px;
    background: rgb(236, 216, 189);
    border-radius: 8px;
    color: #fff;
    text-align: center;
}

/*滑鼠滑過去變顏色*/
.menu a:hover {
    background-color: #dd9090;
}
.sub-title {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #fabf1d;
    border-left: 10px solid #faeaa2;
    color: #d3c652;
}
